// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: white;
$black: rgba(0,0,0,0.2);
$grey: rgb(43, 42, 42);
$blue: rgb(12, 88, 228);
